# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

*.user
*.sublime-*

*/debug*
*/release*
binary/*

*-build-*/*

Makefile*

ui_*.h

*~

*.Debug
*.Release
